@import'../base/variables';


.footer {
    margin-top: 3.5rem;
    border-top: solid $colorprincpal;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    @media only screen and (max-width: 479px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
margin-bottom: 1rem;

    }





    .tipo-footer {
        color: $colorprincpal;
        text-decoration: none;
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        margin-left: 3rem;
        margin-right: 3rem;
        border-radius: 10px;
        transition: 0.3s;



        &:hover {
            background-color: $colorprincpal;
            color: $colorsecundario;
            transition: 0.7s;

        }

    }
}

.subfooter {

    .subfooter-container {



        .redes-container {
            display: flex;

            @media only screen and (max-width:768px) {
                justify-content: center;
                margin-bottom: 2rem;

            }






            .redesw {
                display: flex;
                height: 3rem;
                width: auto;
                margin-left: 0.3rem;
                border-radius: 100%;
                background-color: $colorprincpal;
                border: solid 1px $colorprincpal;
                transition: 0.3s;



                &:hover {

                    background-color: $colorprincpal;
                    background-color: #25D366;
                    border-radius: 100%;
                    border: solid 3px #25D366;
                    transition: 0.3;

                }




            }

            .redesl {
                display: flex;
                height: 3rem;
                width: auto;
                margin-left: 0.3rem;
                border-radius: 100%;
                background-color: $colorprincpal;
                border: solid 1px $colorprincpal;
                transition: 0.3s;


                &:hover {

                    background-color: $colorprincpal;
                    background-color: #0e76a8;
                    border: solid 3px #0e76a8;
                    border-radius: 100%;
                    transition: 0.3s;
                }




            }

            .redesi {
                display: flex;
                height: 3rem;
                width: auto;
                margin-left: 0.3rem;
                border-radius: 100%;
                background-color: $colorprincpal;
                border: solid 1px $colorprincpal;
                transition: 0.3s;



                &:hover {

                    background-color: $colorprincpal;
                    background-color: #DD2A7B;
                    border: solid 3px #DD2A7B;
                    border-radius: 100%;
                    transition: 0.3s;

                }




            }

            .redesf {
                display: flex;
                height: 3rem;
                width: auto;
                margin-left: 0.3rem;
                border-radius: 100%;
                background-color: $colorprincpal;
                border: solid 1px $colorprincpal;
                transition: 0.3s;




                &:hover {
                    background-color: $colorprincpal;
                    background-color: #3b5998;
                    border: solid 3px #3b5998;
                    border-radius: 100%;
                    transition: 0.3s;
                }




            }
        }

        .copyright {
            color: rgb(59, 61, 59);
            display: flex;
            justify-content: center;
            text-decoration: underline;


        }
    }

}