@import '../base/variables';




.body {
   background-color: $colorsecundario;
   margin: 0%;
   padding: 0%;

}
body::-webkit-scrollbar{
   width: 10px;
 

}

body::-webkit-scrollbar-thumb{
   background-color: $colorprincpal;
   border-radius: 10px;
   border: solid 3px $colorsecundario;
  

}


.whatsapp {
   display: flex;
   height: 5.5rem;
   width: auto;
   position: fixed;
   bottom: 0;
   right: 0;
   padding: 1rem;
   transition: 0.3s;

   &:hover {
      transform: scale(1.1);
      transition: 0.3s;

   }

   @media only screen and (max-width: 480px) {
            
      display: none;
  
  }


}

.subir-foto {
   border: solid 1px $colorprincpal;
   border-radius: 100%;
   background-color: $colorprincpal;
   height: 2.5rem;
   width: auto;
   margin-right: 1.5rem;
   margin-bottom: 1rem;
   display: flex;
   position: fixed;
   bottom: 5rem;
   right: 0;
   opacity: 50%;
   transition: 0.3s;
   

   &:hover {
      opacity: 100%;
      transition: 0.3s;

   }
   @media only screen and (max-width: 480px) {
            
      display: none;
  
  }

}


