@import '../base/variables';


.logo-container {
    display: flex;
    justify-content: center;
    border-top: solid $colorprincpal;
    border-bottom: solid $colorprincpal;

    .logo {
        height: 7rem;
        width: auto;


    }

}



.header {

    .hamburguesa {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: solid 1PX $colorprincpal;

        .menu {
            height: 30px;
            width: auto;
        }
    }




    .nav-link-container {

        .active-nav {
            color: rgb(148, 112, 23);

            @media screen and (max-width:768px) {
                display: flex;
                justify-content: center;
                border-bottom: solid 1px $colorprincpal;
                border-radius: 0%;

            }



        }

        .tipo-header {

            color: $colorprincpal;
            border-radius: 20px;
            transition: 0.3s;
            padding: 0.5rem;



            &:hover {
                color: $colorsecundario;
                background-color: $colorprincpal;
                border-radius: 5px;
                transition: 0.3;
                transform: scale(1.1);


                @media screen and (max-width:768px) {
                    transform: none;


                }

            }

            @media screen and (max-width:768px) {
                display: flex;
                justify-content: center;
                border-bottom: solid 1px $colorprincpal;
                border-radius: 0%;

            }



        }

        @media screen and (max-width:768px) {

            border-radius: 10px;
            border: solid 1px $colorprincpal;

        }
    }


}