@import'../base/variables';
@import'../base/extends';
@import'../base/mixin';

.main-redes {



    .h1-redes {

        @include container (flex, center, center, $colorprincpal, 0rem, 0rem);
        font-size: 2rem;
        margin-bottom: 3rem;


    }


    .redes-container {
        display: flex;
        justify-content: center;
       margin-bottom: 1rem;


        .imagenes-nuestras-redes {
            height: 4rem;
            width: auto;
            background-color: $colorprincpal;
            border-radius: 100px;
            border: solid 3px $colorprincpal;


        }


    }




    .info-redes {
        @include container (flex, center, center, $colortexto, 15rem, 15rem);


    }

    .boton-redes {
        margin-top: 1rem;
        margin-bottom: 6rem;
  


    }










}