@import'../base/variables';
@import'../base/extends';


.h1-index {
    color: $colorprincpal;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 3rem;


}

.carrouselxd {
    display: flex;
    justify-content: center;





    .carousel-container {

        width: 1280px;
        height: 600px;
    }
}

.boton-container {
    display: flex;
    justify-content: center;
    background-color: $colorsecundario;
    color: $colorprincpal;
    margin-top: 1rem;


    .boton {
        @extend %botonextend;
        transition: 0.3s;



        &:hover {
            transform: scale(1.1);
            transition: 0.3s;





        }
    }

}


.carrouselxd {
    display: flex;
    justify-content: center;




}