@import'../base/variables';
@import'../base/extends';


.h1-index {
    margin-top: 3rem;
    color: $colorprincpal;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 3rem;


}

.carrouselxd {
    display: flex;
    justify-content: center;





    .carousel-container {

        width: 1280px;
        height: 600px;

        @media only screen and (max-width: 768px) {
            
            width: 640px;
            height: 300px;

        }
        @media only screen and (max-width: 480px) {
            
            width: 320px;
            height: 150px;
        
        }

        @media only screen and (max-width: 320px) {
            
            width: 320px;
            height: 150px;

        }
       
    }
}

.boton-container {
    display: flex;
    justify-content: center;
    background-color: $colorsecundario;
    color: $colorprincpal;
    margin-top: 1rem;
    text-align: center;

    @media only screen and (max-width:768px) {
        margin-top: 3rem;
        
    }

   


    .boton {
        @extend %botonextend;
        transition: 0.3s;



        &:hover {
            transform: scale(1.1);
            transition: 0.3s;





        }
    }

}





.tamano-carrousel{
@media only screen and (max-width:768px) {
    width: 640px;
height: 300px;
    
    
}
@media only screen and (max-width: 480px) {
            
    width: 320px;
    height: 150px;

}

@media only screen and (max-width: 320px) {
            
    width: 320px;
    height: 150px;

}



}

