@import '../base/mapa';
@import'../base/variables';


.main-nosotros {



    .h1-nosotros {
        margin-top: 3rem;
        @include container (flex, center, center, $colorprincpal, 0rem, 0rem);
        font-size: 2rem;
        margin-bottom: 3rem;

    }

    .titulo-nosotros {
        color: $colorprincpal;
        font-size: 1.5rem;
        margin-left: 2rem;
        @media only screen and (max-width:768px){
            display: flex;
            justify-content: center;
            
        }

       
    }
    .texto-nosotros {
        color: rgb(247, 203, 152);
        font-size: 1rem;
        margin-left: 1rem;
        margin-bottom: 4rem;
        margin-top: 2rem;
        text-align: center;

        @media only screen and (max-width:768px){
            display: flex;
            justify-content: center;
            text-align: center;
            
        }

      

    }


}