@import'../base/variables';


$mapa-nosotros:(
bg-encabezado:goldenrod,
bg-card:grey,
border:3px solid rgb(0, 0, 0),
border-radius:10px,
font-card:1.3rem,
font-encabezado:1.7rem,
color:goldenrod,


);